# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
backend/.venv/
.venv/

# Environment Variables
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
